# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Java / Spring Boot
target/
*.jar
*.war
*.class

# Environment files
.env
